/* .header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
} */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 40px 0px 0px;
}

.logo {
  display: flex;
  align-items: center;
}

.nav img {
  border-radius: 50%;
  width: 40px;
}

.title {
  font-family: 'Domine', serif;
  margin-left: 16px;
  text-decoration: none;
  color: var(--text-subdued);
}

.title:hover {
  color: var(--text-default);
}

.title:active {
  color: var(--text-subdued);
}

.hamburger {
  display: none;
  z-index: 6;
}

@media (max-width: 767px) {
  .hamburger {
    display: block;
    /* z-index: 6; */
  }

  .menu {
    display: none;
  }
}
