.card {
  margin-bottom: 80px;
}

.card:hover {
  cursor: pointer;
}

.test {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 16px var(--acent-default);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;

  background-color: var(--acent-default);
}

.card img {
  width: 100%;
  height: auto;

  /* box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; */

  /* border: solid 25px var(--acent-default); */
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  transition: border-radius 200ms;
}

.textBox {
  display: flex;
  flex-direction: column;
}

.textBox h3 {
  margin: 40px 0 4px 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.01em;
}

.textBox p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.01em;

  color: var(--text-subdued);
}

.textBox ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 8px;
}

.textBox ul li {
  display: inline;
  padding: 4px 8px;
  border: 1px solid var(--neutral-border);
  border-radius: 1000px;

  font-weight: 400;
  font-size: 11px;
  line-height: 140%;
  letter-spacing: -0.01em;

  color: var(--text-subdued);
}

.card:hover h3 {
  text-decoration: underline;
}

.card:hover img {
  border-radius: 265px 35px 215px 25px/25px 215px 55px 215px;
}
