.wavetop {
  height: 190px;
  background-color: var(--neutral-default);
}

.animate {
  animation: bg-animation 60s linear infinite;
}

@keyframes bg-animation {
  to {
    background-position-x: 100%;
  }
}

.bg {
  background-color: var(--acent-default);
  height: 300px;
}

.wavebottom {
  height: 200px;
  background-color: var(--neutral-default);
}
