.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-top: 32px;

  border-top: dashed 2px var(--neutral-border);
}

.end {
  /* align-self: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 72px;
}

.end p {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;

  text-align: center;
  letter-spacing: -0.01em;

  color: var(--text-default);
}

.end svg {
  fill: currentColor;
  color: var(--text-default);
}

.footerTop {
  height: 35px;
}
.footerTop svg {
  fill: currentColor;
  color: var(--neutral-subdued);
}

.footerBottom {
  background-color: var(--neutral-subdued);
  margin-top: 80px;
}

.footerBottom::before {
  content: '';
  display: block;
  height: 35px;
  background-color: var(--neutral-default);
  background-image: url(/images/footer-top.svg);
  background-repeat: no-repeat;
}

.footerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 0 48px 0;
}

.footerStartContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.nav {
  width: 100%;
}

.subtitle {
  margin: 0;
  font-weight: 400;
  font-size: 13px;
  line-height: 140%;

  color: var(--text-subdued);

  letter-spacing: -0.01em;
}
