:root {
  --acent-default: #fef6f6;
  --neutral-default: #fff;
  --neutral-subdued: #f6f7f9;
  --neutral-border: #e7ecf4;
  --text-default: #000;
  --text-subdued: #7a818f;
  --interaction-default: #c54541;
  --primary-default: #000;
  --primary-hover: #2a2d33;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Radio Canada', sans-serif;
  line-height: 1.4rem;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Domine', serif;
}
/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
