.hero {
  margin: 144px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  max-width: 731px;
}

.heroHeading {
  margin: 0;
  max-width: 731px;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  /* or 48px */

  text-align: center;
  letter-spacing: -0.01em;

  color: var(--text-default);
}

.heroSubheading {
  margin: 0;
  max-width: 464px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  /* or 25px */

  text-align: center;
  letter-spacing: -0.01em;

  color: var(--text-default);
}

.underline {
  border-bottom: solid #fcdcdc 5px;
  border-end-end-radius: 30%;
}

/* .underline::after {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 1;
  top: 3;
  height: 5px;
  border: 1px solid #fcdcdc;
  border-bottom: 0;
  border-radius: 3em 3em 0 0;
  content: '';
  background: #fcdcdc;
} */
