:root {
  --acent-default: #fef6f6;
  --neutral-default: #fff;
  --neutral-subdued: #f6f7f9;
  --neutral-border: #e7ecf4;
  --text-default: #000;
  --text-subdued: #7a818f;
  --interaction-default: #c54541;
}
