.bg {
  background-color: var(--acent-default);
}

.bg::before {
  content: '';
  display: block;
  height: 190px;
  background-color: var(--neutral-default);
  background-image: url('../../public/images/Hero-Top.svg');
  background-repeat: no-repeat;
  background-position: start top;
}

.bg::after {
  content: '';
  display: block;
  height: 200px;
  background-color: var(--neutral-default);
  background-image: url('../../public/images/Hero-Bottom.svg');
  background-repeat: no-repeat;
  background-position: start top;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  max-width: 704px;
  margin: 0;

  font-weight: 400;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.01em;
}

.img {
  width: 100%;
  max-width: 640px;
  height: auto;
}
