.bg {
  background-color: var(--accent-default);
}

.wavetop {
  width: 8000px;
  height: 190px;
  background-color: var(--neutral-default);
  background-image: url(/images/Hero-Top.svg);
  background-repeat: repeat-x;
}

.svgWave {
  fill: currentColor;
  color: var(--accent-default);
}

.wavebottom {
  width: 8000px;
  height: 200px;
  background-color: var(--neutral-default);
  background-image: url(/images/Hero-Bottom.svg);
  background-repeat: repeat-x;
}

.sectionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  max-width: 704px;
  margin: 0;

  color: var(--text-default);

  font-weight: 400;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.01em;
}

.aboutImg {
  width: 100%;
  max-width: 640px;
  height: auto;
}

@media (prefers-color-scheme: dark) {
  .wavetop {
    background-image: url(/images/Hero-Top-dark.svg);
  }

  .wavebottom {
    background-image: url(/images/Hero-Bottom-dark.svg);
  }

  .aboutImg {
    filter: invert();
  }
}
