.navList {
  padding: 0;
  margin: 0;

  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.column {
  display: flex;
  flex-direction: column;
}

.navList li {
  display: inline;
}

.navList li a {
  margin-right: 24px;

  color: var(--text-default);
  text-decoration: none;
}

.navList li a:hover {
  text-decoration: underline;
}
